--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.c_hos DROP CONSTRAINT IF EXISTS c_hos_pkey;
DROP TABLE IF EXISTS public.c_hos;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: c_hos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.c_hos (
    hoscode character varying(5) NOT NULL,
    hosname character varying(255) NOT NULL,
    hostype character varying(50),
    hossize character varying(50),
    beds integer,
    hosname_short character varying(255),
    amp_code character varying(4),
    size_level character varying(10),
    gps character varying(50),
    sap_level character varying(20)
);


ALTER TABLE public.c_hos OWNER TO admin;

--
-- Data for Name: c_hos; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: c_hos c_hos_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.c_hos
    ADD CONSTRAINT c_hos_pkey PRIMARY KEY (hoscode);


--
-- PostgreSQL database dump complete
--

